

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





<div class="container" style="margin-top: 100px;">
	

	<% if flash[:submitted] %>
	<div class="alert alert-success" role="alert">申し込みが完了しました。</div>

	<% end %>

	<h1>申込みをして下さい</h1>
	<p>あなたのVisitor IDは: <span id="visitor_id"></span></p>

	<%=form_tag submit_form_path do %>
	<fieldset>
		<div class="clearfix">
			<%=email_field_tag :email, nil, class:"form-control", id: "input_email"  %>
		</div><br />

		<div class="clearfix">
			<%=password_field_tag :password, nil, class:"form-control", placeholder: "パスワード"  %>
		</div><br/>

		<div class="clearfix">
			<%=text_area_tag :booking, nil, class:"form-control", placeholder: "予約内容を入力して下さい"  %>
		</div><br/>

		<div class="login-actions">
			<%=submit_tag "ログイン", class:"btn btn-primary"%>
		</div>

	</fieldset>
	<% end %>


</div>




<script type="text/javascript">
	
	$(function(){
		$("#visitor_id").html(getCookie("visitor_id337841"));

	});

	function getCookie(c_name){
		var st="";
		var ed="";
		if(document.cookie.length>0){
	        // クッキーの値を取り出す
	        st=document.cookie.indexOf(c_name + "=");
	        if(st!=-1){
	        	st=st+c_name.length+1;
	        	ed=document.cookie.indexOf(";",st);
	        	if(ed==-1) ed=document.cookie.length;
	            // 値をデコードして返す
	            return unescape(document.cookie.substring(st,ed));
	        }
	    }
	    return "";
	}



</script>